In [3]:
a = set()

In [4]:
a

set()

In [5]:
a.add(300)
a

{300}

In [6]:
a.add(400)
a

{300, 400}

In [8]:
a.add(300)
a

{300, 400}

In [9]:
myList = [1,2,3,3,4,4,5,7,9]
myList

[1, 2, 3, 3, 4, 4, 5, 7, 9]

In [11]:
use_set = set()

for b in myList:
    use_set.add(b)
print (use_set)

{1, 2, 3, 4, 5, 7, 9}

In [12]:
set_b = set()
set_b.add("Solomon")
set_b.add(50)
set_b.add(123.123)

set_b

{123.123, 50, 'Solomon'}

In [13]:
myList

[1, 2, 3, 3, 4, 4, 5, 7, 9]

In [17]:
myList1 = [1,2,3,3,4,4,5]
secondSet = set()
total = 0


# make the set() from the list
for d in myList1:
    secondSet.add(d)

# add all the data in the set
for c in secondSet:
    total += c
    
print("The list contained ", myList1)
print(" ")
print("The set() is: ", secondSet)
print(" ")
print("The total is: ", total)

The list contained  [1, 2, 3, 3, 4, 4, 5]

The set() is:  {1, 2, 3, 4, 5}

The total is:  15